{% extends "base.html" %}
{% block content %}
    <h1>Abdullah's About Page</h1>
    <div class="clearfix">
        <img src="https://cdn-aahmh.nitrocdn.com/mwIJloVUffDtKiCgRcivopdgojcJrVwT/assets/static/optimized/rev-304f339/image/cache/catalog/cats-and-the-cold-weather-200x200h.jpg"
             class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

        <p>
            Hello My name is Abdullah. I am very hungry because i am fasting for the holly month of ramadan. I can not
            wait until it is iftar time so i an eat everything in my way. sweets will be my number one food target.
        </p>

        <p>
            I want to go to the gym tonight but first i have to find a gym that opens day and night. i need to go workout legs today because it's been a while since i have had a good leg workout.
        </p>

        <p>
            There are a lot of things I have to evaluate to improve my overall performance in the gym and reach a new standard. new goals, new dreams to achieve.
        </p>
    </div>

{% endblock %}