{% extends "base.html" %}
{% block content %}
    <h1>Index Page</h1>
    <img src="https://gifts.worldwildlife.org/gift-center/Images/multistepcart/cart-black-footed-cat-photo.jpg" class="rounded mx-auto d-block" alt="...">

    <div class="row align-items-start">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fuga harum incidunt necessitatibus
                provident quisquam ratione! Ad ea hic nostrum pariatur perferendis porro quis quod, rerum. Ab animi aut
                dolorum est facilis fugiat ipsam magnam minus odio, odit officia optio possimus qui quisquam quos,
                temporibus ullam vitae voluptates voluptatibus voluptatum! A exercitationem id magnam obcaecati optio
                similique sint. Libero quisquam reprehenderit vel voluptas. At, dolores, voluptatem! A fugit, illo
                molestias nesciunt officiis tenetur voluptate? Ab, aspernatur consequatur distinctio impedit ipsa
                laboriosam laborum nemo officiis placeat porro praesentium repellat sequi, tempora ut vel! Dolor
                expedita molestiae, nemo nesciunt non temporibus! Reiciendis?</p>
        </div>
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet, consequatur cupiditate dolorem enim
                eum fugit incidunt labore, laboriosam maiores nam nesciunt possimus quae repellat reprehenderit
                similique sunt ut veniam vitae voluptas voluptate voluptates voluptatibus? Alias aliquam aliquid at
                delectus dolor ducimus error expedita explicabo in ipsum itaque laudantium minus molestiae odit optio
                pariatur quasi quidem quis quos recusandae, reiciendis rem repellendus tempora tenetur totam ut
                veritatis voluptate? Eveniet, minus reiciendis. Aliquid eaque eveniet officiis pariatur perspiciatis
                quibusdam quo? Autem dolore dolorum ex molestias nihil obcaecati reprehenderit voluptates! Alias
                consequuntur, nesciunt! Alias amet beatae inventore laudantium magnam quasi qui quia.</p>
        </div>
        <div class="col">
           <button type="button" class="btn btn-primary">click here for more info</button>
        </div>
    </div>

{% endblock %}